<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="{{advertised_address}}/static/favicon.png" />
<link rel="stylesheet" href="{{advertised_address}}/static/w3css/4.15/w3.css" />

<html>
  <title>登陆-健康管理器</title>

  <body>
    <div
      class="w3-container w3-padding-16"
      style="
        max-width: 30em;
        margin-top: 20vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
    >
      <div class="w3-card-4">
        <div class="w3-container w3-blue">
          <h4>健康管理器 - 登陆</h4>
        </div>
        <form class="w3-container" action="../login/" method="post">
          <p>
            <label class="w3-text-blue"><b>用户名</b></label>
            <input
              class="w3-input w3-border w3-light-grey"
              type="text"
              name="username"
            />
          </p>
          <p>
            <label class="w3-text-blue"><b>密码</b></label>
            <input
              class="w3-input w3-border w3-light-grey"
              type="password"
              name="password"
            />
          </p>
          <div class="w3-cell-row" style="margin-bottom: 1em">
            <div class="w3-container w3-cell w3-mobile" style="padding: 0px">
              <span style="color: red">{{err_msg}}</span>
            </div>
            <div class="w3-container w3-cell w3-mobile" style="padding: 0px">
              <button
                class="w3-button w3-border w3-blue-grey w3-right"
                type="submit"
              >
                登陆
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
