<script src="//monitor.sz.lan/resources/moment.js-2.18.1/moment.min.js"></script>
<script src="//monitor.sz.lan/resources/chart.js-2.8.0/Chart.min.js"></script>
<script src="//monitor.sz.lan/resources/chart.js-2.8.0/Chart.bundle.js"></script>
<script src="//monitor.sz.lan/resources/monitor.js"></script>
<script src="{{app_address}}/static/lib/jquery/3.6.0/jquery.{{mode}}.js"></script>

<html>
<body>

<div class="chart-container" style="width:99%; height:95%; margin-bottom:3em;">
  <canvas id="myLineChart"></canvas>
</div>
<div style=" text-align: center;position: fixed;bottom: 0;width: 100%;">
  跨度:
  <input id="days-radio-button-0" class="w3-radio" type="radio" name="days-radio-button" onclick="updateLineChartData(30);" >
  <label for="days-radio-button-0">1月</label>
  <input id="days-radio-button-1" class="w3-radio" type="radio" name="days-radio-button" onclick="updateLineChartData(120);" checked>
  <label for="days-radio-button-1">4月</label>
  <input id="days-radio-button-2" class="w3-radio" type="radio" name="days-radio-button" onclick="updateLineChartData(365);" >
  <label for="days-radio-button-2">1年</label>
  <input id="days-radio-button-3" class="w3-radio" type="radio" name="days-radio-button" onclick="updateLineChartData(730);" >
  <label for="days-radio-button-3">2年</label>
  <input id="days-radio-button-4" class="w3-radio" type="radio" name="days-radio-button" onclick="updateLineChartData(1461);" >
  <label for="days-radio-button-4">4年</label>
</div>

<script>

var remarks = [];
var ctx = document.getElementById('myLineChart').getContext('2d');
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [],
    datasets: [{
      label: '移动平均',
      data: [],
      fill: false,
      backgroundColor: '#f44336',
      borderColor: '#f44336',
      borderWidth: 1.75,
      pointRadius: 2
    },{
      label: '原始',
      data: [],
      fill: false,
      borderColor: "rgba(244, 67, 54, 0.4)",
      borderWidth: 0.75,
      pointRadius: 0
    }]
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    legend: { display: false },
    scales: {
      xAxes: [{
        gridLines: { display: false },
        type: "time",
        time: { 
          parser: 'YYYY-MM-DD HH:mm:ss',
          displayFormats: {
            'hour': 'YYYY-MM-DD',
            'day': 'YYYY-MM-DD',
            'month': 'YYYY-MM'
          },
          tooltipFormat: 'YYYY-MM-DD HH:mm'
        },
        display: true   
      }],
      yAxes: [{
        gridLines: { display: true },
        ticks: { beginAtZero: false },
      }]
    },
    tooltips: {
      callbacks: {
          label: function(tooltipItem, data) {
            var label = data.datasets[tooltipItem.datasetIndex].label;
            label += ': ' + (tooltipItem.yLabel) + ' KG'
            if (data.datasets[tooltipItem.datasetIndex].label == '移动平均')
              if (remarks[tooltipItem.index].length > 0)
                label += ' (' + remarks[tooltipItem.index] + ')';
            return label;
          }
      },
      mode: 'index', // It basically means that tooltips for all points with the same index, i.e., x value will be shown
      intersect: false // if true, the tooltips callback will only be triggered when mouse is exactly over a point
    }
  }
});

function updateLineChartData(days) {
  $.get( "{{app_address}}/get-data/?value_type=weight&days=" + days.toString() + "&value_type=weight")
    .done(function(data,status,xhr) {
      myLineChart.data.labels = data['record_times'];
      myLineChart.data.datasets[0].data = (data["values_ema"]);
      myLineChart.data.datasets[1].data = (data["values_raw"]);
      remarks = data["remarks"];
      myLineChart.update();
      logUserActivity('[weight-manager/summary] interval changed to ' + days.toString() + ' days', '{{username}}');
    })
    .fail(function(jqXHR, textStatus, errorThrown) {
      alert("错误：" + textStatus);
    })
    .always(function() {
    });
  }
  updateLineChartData(120);
</script>
</body>