<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="//monitor.sz.lan/weight_manager/static/favicon.png">
<link rel="stylesheet" href="//monitor.sz.lan/resources/monitor.css">
<script src="//monitor.sz.lan/resources/moment.js-2.18.1/moment.min.js"></script>
<script src="//monitor.sz.lan/resources/chart.js-2.8.0/Chart.min.js"></script>
<script src="//monitor.sz.lan/resources/chart.js-2.8.0/Chart.bundle.js"></script>
<script src="//monitor.sz.lan/resources/monitor.js"></script>
<script src="{{app_address}}/static/lib/jquery/3.6.0/jquery.{{mode}}.js"></script>

<html>
<head><title>体重管理器-折线图</title></head>
<body>

<div class="chart-container" style="width:99%; height:96vh;">
    <canvas id="myChart"></canvas>
</div>

<script>

// ========== code used to create a vertical line while hovering on the chart. ==========
Chart.defaults.LineWithLine = Chart.defaults.line;
Chart.controllers.LineWithLine = Chart.controllers.line.extend({
   draw: function(ease) {
      Chart.controllers.line.prototype.draw.call(this, ease);

      if (this.chart.tooltip._active && this.chart.tooltip._active.length) {
         var activePoint = this.chart.tooltip._active[0],
             ctx = this.chart.ctx,
             x = activePoint.tooltipPosition().x,
             topY = this.chart.legend.bottom,
             bottomY = this.chart.chartArea.bottom;

         // draw line
         ctx.save();
         ctx.beginPath();
         ctx.moveTo(x, topY);
         ctx.lineTo(x, bottomY);
         ctx.lineWidth = 0.5;
         ctx.strokeStyle = '#A6A6A6';
         ctx.stroke();
         ctx.restore();
      }
   }
});
// Note: "type" property of myChart needs to be set to "LineWithLine" to make it work
// ========== code used to create a vertical line while hovering on the chart. ==========
var remarks = [{{remark_string|safe}}];
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'LineWithLine',   // Originally, it is 'line' here
  data: {
    labels: [{{ times_string | safe }}],
    datasets: [{
      label: '移动平均',
      data: [{{readings_strings[1]}}],
      fill: false,
      backgroundColor: '#f44336',
      borderColor: '#f44336',
      borderWidth: 1.75,
      pointRadius: 2
    },{
      label: '原始',
      data: [{{readings_strings[0]}}],
      fill: false,
      borderColor: "rgba(244, 67, 54, 0.4)",
      borderWidth: 0.75,
      pointRadius: 0
    }]
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    legend: { display: false },
    scales: {
      xAxes: [{
        gridLines: { display: false },
        type: "time",
        time: { 
          parser: 'YYYY-MM-DD HH:mm:ss',
          displayFormats: {// These lines tell chart.js the string format to be used if it thinks the scale of x-Axis is minute/hour/day
            'hour': 'YYYY-MM-DD',
            'day': 'YYYY-MM-DD',
            'month': 'YYYY-MM'
          },
          tooltipFormat: 'YYYY-MM-DD HH:mm'
        },
        display: true   
      }],
      yAxes: [{
        gridLines: { display: true },
        ticks: { beginAtZero: false },
      }]
    },
    tooltips: {
      callbacks: {
          label: function(tooltipItem, data) {
            var label = data.datasets[tooltipItem.datasetIndex].label;
            label += ': ' + (tooltipItem.yLabel) + ' KG'
            if (data.datasets[tooltipItem.datasetIndex].label == '移动平均')
              if (remarks[tooltipItem.index].length > 0)
                label += ' (' + remarks[tooltipItem.index] + ')';
            return label;
          }
      },
      mode: 'index', // It basically means that tooltips for all points with the same index, i.e., x value will be shown
      intersect: false // if true, the tooltips callback will only be triggered when mouse is exactly over a point
    }
  }
});
</script>
</body>