<!DOCTYPE html>
<link rel="shortcut icon" href="//monitor.sz.lan/weight_manager/static/favicon.png">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3.css">
<script src="//monitor.sz.lan/resources/monitor.js"></script>
<script src="//monitor.sz.lan/resources/jquery-3.5.1.min.js"></script>
<script src="//monitor.sz.lan/resources/mpld3.v0.5.2.js"></script>

<html>
<head>
  <title>数据分析[{{username}}] - 体重管理器</title>
</head>
<style>
.container div {
    padding: 20px;
    float: left;
    border:1px solid #aaa;
}
</style>
<body>
	<div class="w3-cell-row">
    <div class="w3-cell w3-mobile w3-center" style="width:30%;">
      {{fig2_html | safe}}
    </div>
    <div class="w3-cell w3-mobile w3-center" style="width:40%;">
      {{fig1_html | safe}}
    </div>
    <div class="w3-cell w3-mobile w3-center" style="width:30%;">
      {{fig3_html | safe}}
    </div>
  </div>
<div style="text-align:center"><p>{{test_html | safe}}</p><div>
</body>
</html>