<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="./static/favicon.png">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3.css">
<link rel="stylesheet" href="//monitor.sz.lan/resources/font-awesome.min.css">
<script src="//monitor.sz.lan/resources/monitor.js"></script>
<script src="{{app_address}}/static/lib/jquery/3.6.0/jquery.{{mode}}.js"></script>

<html>
<head><title>体重管理器-录入[{{username}}]</title>
  <script>
  window.onload = function() { logUserActivity('[weight-manager/record] load', '{{username}}'); };
  window.onunload = function() { logUserActivity('[weight-manager/record] unload', '{{username}}'); };
  </script>
</head>
<body>

<div class="w3-container w3-padding-16" style="max-width: 50em; margin-top:20vh; display: block; margin-left: auto; margin-right: auto;">
  <div class="w3-card-4">
    <div class="w3-container w3-blue">
      <h3>{{username}}您好，<span class="w3-right" style="margin-bottom:1rem;font-size:0.65em;"><a href="#" onclick="logout();">退出</a></span></h3>
    </div>  
    <div class="w3-container">
    	<p>
    	  <label class="w3-text-blue"><b>体重（公斤）</b></label>
    	  <input type="hidden" name="username" value="{{username}}">
    	  <input id="input-value" class="w3-input w3-border w3-light-grey" type="number">
    	</p>
    	<p>
    	  <label class="w3-text-blue"><b>备注</b></label>
    	  <input id="input-remark" class="w3-input w3-border w3-light-grey" type="text">
    	</p>
    	<button id="button-submit" class="w3-button w3-border w3-blue-grey w3-left" style="margin-bottom:1rem;">提交体重数据</button>
    	<input class="w3-button w3-border w3-blue-grey w3-right" style="margin-bottom:1rem;" type="button" onclick="viewSummaryPage();" value="查看体重数据" />
    </div>
  </div>
</div>
</body>

<script>

  function logout() {
    logUserActivity('[weight-manager/record] logout', '{{username}}');
    window.location.replace('../weight_manager/logout/');
  }

  function viewSummaryPage() {
    logUserActivity('[weight-manager/record]visit summary page', '{{username}}');
    window.location.href='../weight_manager/summary/';
  }

  $("#button-submit").click(function() {
    $.ajax({
      url:"{{app_address}}/submit-data/",
      type:"POST",
      data:{
        value: $("#input-value").val(),
        remark: $("#input-remark").val(),
        value_type: "weight"
      },
      success: function(data, status){
        logUserActivity('[weight-manager/record] submit weight figure', '{{username}}');
        viewSummaryPage();
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("错误：\n" + errorThrown + "\n" + jqXHR.responseText);
      }
    });
  });


</script>
</html>
