<!DOCTYPE html>
<link rel="shortcut icon" href="//monitor.sz.lan/weight_manager/static/favicon.png">
<link rel="stylesheet" href="//monitor.sz.lan/resources/w3.css">
<script src="//monitor.sz.lan/resources/monitor.js"></script>
<script src="{{app_address}}/static/lib/jquery/3.6.0/jquery.{{mode}}.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head><title>简报[{{username}}] - 体重管理器</title></head>
<style>
 @media screen and (max-width: 1500px) {
    #data-analysis-content {
       zoom: 0.75;
    }
 }
 @media screen and (max-width: 950px) {
    #data-analysis-content {
       zoom: 0.66;
    }
 }
</style>
<body>
<div class="w3-container w3-responsive" style="max-width:110em; display:block; margin-left:auto; margin-right:auto; margin-top:0.5rem; padding:0.5rem; padding-bottom:1rem; ">
  <div class="w3-card-4">
    <div class="w3-container w3-blue">
      <h3>{{username}}的体重数据<span class="w3-right" style="margin-bottom:1rem;font-size:0.65em;"><a href="#" onclick="logout();">退出</a></span></h3>
    </div>
    <div class="w3-panel w3-leftbar w3-border-blue" style="margin-bottom:0px"><h5>概况</h5></div>
    <div class="w3-container w3-center w3-padding-8">
      <p style="margin-bottom:0px; margin-top:0px">{{latest_record_time}}</p>
      <p style="font-size:7vh;font-weight:bold;margin:0px;margin-top:-0.3rem;">{{today_weight}}公斤</p>
      <p style="margin-top:-0.3rem;">下次体重（模型预测）：<span id="prediction-content">载入中...</span>公斤</p>
      <p style="margin-top:-0.3rem;">备注：{{remark}}</p> 
  	</div>
  	<hr style="margin-top:0px; margin-left:2em; margin-right:2em;">
  	<div class="w3-panel w3-leftbar w3-border-blue" style="margin-bottom:0px"><h5>历史数据</h5></div>
    <div class="w3-container w3-center w3-padding-16">    
    <iframe id="iframe-linechart" src="{{app_address}}/chart/" style="width:100%;height:35vh;" frameBorder="0" src="" scrolling="no" >折线图载入中...</iframe>
  	<table class="w3-table w3-striped w3-bordered w3-hoverable">
  	<tr class="w3-blue"><th>时间跨度</th><th>测量次数</th><th>平均体重</th><th>变动</th></tr>
  	{%for i in range(0, weight_data|length)%} 
  		<tr class="w3-hover-blue"> 
  			<td class="w3-border">{{weight_data[i][0]}}</td> 
  			<td class="w3-border">{{weight_data[i][1]}}</td>
  			<td class="w3-border">{{weight_data[i][3]}}</td>
  			<td class="w3-border"><b>{{weight_data[i][4]|safe}}</b></td>
  		</tr>
  	{%endfor%} 
  	</table>
  	</div>
  	<hr style="margin-top:0px; margin-left:2em; margin-right:2em;">
  	<div class="w3-panel w3-leftbar w3-border-blue" style="margin-bottom:0px"><h5>技术分析</h5></div>
    <div class="w3-container w3-center w3-padding-16">
    	<div class="w3-cell-row">
        <div class="w3-cell w3-mobile w3-center" style="width:33%;">
          <img style="max-width:100%;" src="../get_plot/?filename=histogram.png" id="histogram-img" alt="Histogram">
        </div>
        <div class="w3-cell w3-mobile w3-center" style="width:33%;">
          <img style="max-width:100%;" src="../get_plot/?filename=qqplot.png" id="qq-plot-img" alt="QQ Plot">
        </div>
        <div class="w3-cell w3-mobile w3-center" style="width:33%;">
          <img style="max-width:100%;" src="../get_plot/?filename=log-change.png" id="log-return-img" alt="Log Return">
        </div>
      </div>
    	<div id="data-analysis-content" style="">分析结果载入中...</div>
    </div>
  </div>
</div>
</body>
<script>

window.onload = function() {
  logUserActivity('[weight-manager/summary] load', '{{username}}');
  $("#data-analysis-content").load('../generate_statistics/?days=3650');
  randomizeImageLinks();
};
window.onunload = function() { logUserActivity('[weight-manager/summary] unload', '{{username}}'); };

function logout() {
  logUserActivity('[weight-manager/record] logout', '{{username}}');
  window.location.replace('../logout/');
}

function randomizeImageLinks() { 
  $("#log-return-img").attr("src", $('#log-return-img').attr('src') + "&rand=" + Math.floor(Math.random() * (99999 - 10000 + 1)) + 10000);
  $("#qq-plot-img").attr("src", $('#qq-plot-img').attr('src') + "&rand=" + Math.floor(Math.random() * (99999 - 10000 + 1)) + 10000);
  $("#histogram-img").attr("src", $('#histogram-img').attr('src') + "&rand=" + Math.floor(Math.random() * (99999 - 10000 + 1)) + 10000);
}
$("#prediction-content").load('../prediction/?days=360');
</script>
</html>
